/* src/styles/ManagerDashboard.css */

/* Ajustes gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f8; /* Cor de fundo clara */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
    width: 100%;
    height: 100%;
}

/* Painel do Gestor */
.manager-dashboard {
    max-width: 900px; /* Largura máxima do painel */
    margin: 20px auto; /* Centraliza o painel */
    padding: 30px;
    background-color: #002060; /* Fundo levemente cinza */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite rolagem vertical caso necessário */
    min-height: 90vh; /* Garante que o painel ocupe pelo menos 90% da altura da tela */
    display: flex;
    flex-direction: column;
  
}

/* Cabeçalho do Dashboard */
.dashboard-header {
    display: flex;
    justify-content: space-between; /* Espaço entre o título e o botão */
    align-items: center; /* Alinha verticalmente */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Títulos */
h2 {
    text-align: center;
    color: #002060; /* Azul marinho */
    font-size: 2em;
    margin: 0; /* Remove margem extra */
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: left;
}

th {
    background-color: #002060; /* Fundo azul marinho */
    color: #ffffff; /* Cor do texto branca */
}

td {
    background-color: #ffffff; /* Fundo branco */
    color: #000; /* Cor do texto preta */
}

tr:nth-child(even) td {
    background-color: #f0f0f5; /* Fundo das linhas pares levemente cinza */
}

/* Estilo para a lista de espaços físicos */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff; /* Fundo branco */
    color: #002060; /* Azul marinho para contraste */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #002060; /* Borda azul marinho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botão de logout */
.logout-button {
    background-color: #002060; /* Vermelho */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Certifica-se que ele é exibido */
}

.logout-button:hover {
    background-color: #002060;
}

/* Responsividade */
@media (max-width: 768px) {
    .manager-dashboard {
        padding: 20px; /* Ajusta padding para telas menores */
        overflow-y: auto; /* Garante rolagem em telas menores */
    }

    th, td {
        padding: 8px 12px; /* Ajusta padding das células da tabela */
    }

    h2 {
        font-size: 1.5em; /* Ajusta tamanho do título */
    }

    h3 {
        font-size: 1.2em; /* Ajusta tamanho dos subtítulos */
    }
}

.botoes-div {
    gap: 5px;
    display: flex;
    flex-direction: column;
}